@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: black !important;
}
.navbar-brand {
  color: black;
}
.red {
  color: red;
}
.green {
  color: green;
}

h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
}
.btn {
  background-color: red !important;
  color: white !important;
}

select {
  box-shadow: none !important;
  border-color: black !important ;
}
.our-text-decor {
  text-align: left;
}
.our-text-decor-right {
  text-align: right;
}
.fa-plus {
  color: green;
  margin: 5px;
  font-size: 14px;
}
.fa-minus {
  color: red;
  margin: 5px;
  font-size: 14px;
}
b {
  font-size: 15px;
}
.fa-trash {
  color: red;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;
}
.list-style {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .mobile-nav {
    display: flex !important;
    flex-direction: column !important;
    height: min-content !important;
  }
  #navbarNav {
    display: flex !important;
    flex-direction: row !important;
  }
  .mg-top {
    margin-top: 220px !important;
  }
  .navbar-nav {
    margin: auto !important;
  }
}
.navbar-nav {
  margin-left: auto !important;
}
